<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for='(item,index) in menuLIsts'>
            <h5 v-text="item.id"></h5>
            <h3>{{item.name}}</h3>
            <em>{{item.price}}</em>
        </li>
    </ul>
    <ul>
        <li v-for='(value,key) in person'>
           {{key}}==={{value}}
        </li>
    </ul>
</div>
<!--1.引包-->
<script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
    //    创建实例化对象

    new Vue({
        el:'#app',//目的地
        data:function(){
            return{
                msg:'指令系统',
                menuLIsts:[
                    {id:1,name:'花菜',price:3},
                    {id:2,name:'鱼',price:3},
                    {id:3,name:'肉',price:3}
                ],
            person:{
                    name:'sara',
                    age:18,
                    bron:'china'
            }

            }
        },
        template:''
    });
    console.log(vm);
    console.log(vm.$el === document.getElementById('app'));
    console.log(vm.$data==data);
    //除了数据属性vue实例还暴露了一些有用的实例属性和方法，它们提供的 都有前缀$符号
</script>

</body>
</html>